

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Úrazy v ČR</title>
  </head>
  <body>
    <header class="container">
        <nav>
          <ul>
            <li><strong> Úrazy v ČR </strong></li>
          </ul>
          <ul>
             {% for link in navigation_links %}
              <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>  
      </nav>
    </header>
    <main class="container">
      {% block content %}
      
      {% endblock %}
    </main>
  </body>
</html>