{% extends 'urazy/_layout.html' %}

{% block content %}
  {% load static %} 
  <link rel="stylesheet" href="{% static '_layout.css' %}">

  <section class="index-introduction">
    <p> 
      Najdete zde vizualizované údaje o <strong>úrazech dle pohlaví, věku a typu úrazu.</strong>
      Data jsou vždy <strong>přepočtená na 100 000 obyvatel</strong> dané kategorie, jedná se o úrazy, nehody, sebevraždy vykázané do Národního registru hrazených zdravotních služeb.  
    </p> 

    <h2>Data jsou převzatá z:</h2> 

    <ul class="index-ul">
      <li><a href="https://www.nzip.cz/data/1789-urazy-prehled-priciny" target="_blank"> Národní zdravotnický informační portál</a></li>
      <li>data zpracoval Ústav zdravotnických informací a statistiky ČR k 11.12. 2023</li>
    </ul>
  </section>
{% endblock %}