{% extends 'urazy/_layout.html' %}

{% block content %}
  {% load static %} 
  <link rel="stylesheet" href="{% static '_layout.css' %}">

  <h2>Přehled četnosti úrazů dle pohlaví</h2>

<div class ="center">
  <table>
    <thead>
      <tr>
        <th>Pohlaví</th>
        {% for rok in roky %}
          <th>{{ rok }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in kategorie %}
        <tr>
          <td>{{ item.pohlavi }}</td> 
          {% for rok in roky %}
            <td>
              {% for hodnota in data %}
                {% if hodnota.pohlavi == item.pohlavi and hodnota.rok == rok %}
                  {{ hodnota.pocet }}   
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<img src="data:image/png;base64,{{ obrazek_grafu }}" alt="Sloupcový graf">
{% endblock %}