<h2>Seznam věkových kategorií</h2>
<ul>
    {% for vek in vek %}
    <li>
        <!-- Odkaz na urazy_data bez parametru pk -->
        <a href="{% url 'urazy_data' %}">Věková kategorie: {{ vek.vek }} (Rok: {{ vek.rok }})</a>
    </li>
    {% endfor %}
</ul>

<h2>Seznam pohlaví</h2>
<ul>
    {% for pohlavi in pohlavi %}
    <li>
        <!-- Odkaz na urazy_data bez parametru pk -->
        <a href="{% url 'urazy_data' %}">Pohlaví: {{ pohlavi.pohlavi }} (Rok: {{ pohlavi.rok }})</a>
    </li>
    {% endfor %}
</ul>

</html>