{% extends 'urazy/_layout.html' %}
{% block content %}      
<h1>Přehled úrazů dle věkových skupin</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Věk</th>
                {% for rok in vek_roky %}
                    <th>{{ rok }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for vekKategorie in vek_vekKategorie %}
                <tr>
                    <td>{{ vekKategorie.vek }}</td> 
                    {% for rok in vek_roky %}
                        <td>
                            {% for data in vek_data %}
                                {% if data.vek == vekKategorie.vek and data.rok == rok %}
                                    {{ data.pocet }}  
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <img src="data:image/png;base64,{{ graph_url }}" alt="Sloupcový graf">
{% endblock %}
   

    

    



</body>
</html>