{% extends 'urazy/_layout.html' %}
{% block content %}      
<h1>Přehled úrazů dle věkových skupin</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Věk</th>
                {% for rok in years %}
                    <th>{{ rok }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for age_group in age_groups %}
                <tr>
                    <td>{{ age_group.vek }}</td> 
                    {% for rok in years %}
                        <td>
                            {% for data in vek_data %}
                                {% if data.vek == age_group.vek and data.rok == rok %}
                                    {{ data.pocet }}  
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
   

    

    



</body>
</html>