{% extends 'urazy/_layout.html' %}

{% block content %}
  {% load static %} 
  <link rel="stylesheet" href="{% static '_layout.css' %}">
  
  <h2>Četnosti úrazů dle způsobu vzniku</h2>
  
<div class ="center"> 
  <table class="table_zpusob">
    <thead>
      <tr>
        <th>Způsob</th>
        {% for rok in roky %}
          <th>{{ rok }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for kategorie in kategorie %}
        <tr>
          <td>{{ kategorie.zpusob }}</td>
          {% for hodnota in kategorie.hodnoty %}
            <td>{{ hodnota }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 

<img src="data:image/png;base64,{{ obrazek_grafu }}" alt="Sloupcový graf">
{% endblock %}