* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --modra: #98bad6;
  --svetle-modra:#e0effc;
  --svetle-seda: #445563;
  --tmave-seda: #283037;
}

/*_layout.html*/
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, var(--modra), #fefefe 10vw);
  background-repeat: no-repeat; 
}

header {
  display: flex;
  justify-content: space-evenly; 
  align-items: baseline;
  padding: 2vw;
  margin: 0; 
  width: 100%; 
}

h1 {
  color: var(--svetle-seda); 
  font-size: 30px;
  padding: 0;
  margin: 0; 
}

h2{
  color: var(--svetle-seda); 
  font-size: 30px;
  padding: 20px;
  margin: 20px; 
  text-align: center;
}

.index-h2{
  font-size: 20px;
  text-align: left;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.layout-link {
  color: var(--tmave-seda); 
  text-decoration: none;
  padding: 3vw;
  margin: 3vw;
}

.layout-link:visited {
  color: #283037;         
  text-decoration: none;  
}

.layout-link:hover {
color: #3e697f;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

/*index.html*/

.index-introduction{
margin-left:  6vw;
margin-right: 6vw;
line-height: 1.5;
}

.index-ul{
list-style-type: none; 
padding:0;
margin: 0; 
}

/*tabulky*/
table{
  max-width: 100%;
  border-collapse: collapse; 
  margin: 20px auto;
  text-align: left;
  border: 1px solid #00000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th{
  background-color:var(--svetle-modra);
}

table td:first-child,
th{
  font-weight: bold;
}

table th, table td {
  border: 1px solid #000000;
  padding: 3px;
  text-align: center;
}

.table_zpusob td:first-child{
  text-align: left;
}


tr:hover {
  background-color: #f1f1f1;
}

/*graf*/
img {
  display: block;
  margin: 20px auto; 
  max-width: 100%; 
  height: auto; 
}

@media (max-width: 900px) {
  p,table, .index-ul {
    font-size: 10px; 
  }

  h1, h2 {
    font-size: 15px; 
  }

  table th {
    position: sticky; 
    top: 0; 
    z-index: 1; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Vizuální oddělení */
  }

  nav ul {
    font-size: 15px;
  }
}
